/*
I will try to use BEM for our standard conventions - seems pretty popular and works well
Before making any edits, please read up on conventions here: https://getbem.com/introduction/
If you find something that doesn't follow the conventions, feel free to correct it

Reminder if you forgot after reading the above instructions:

Block: Standalone element, e.g. header, container, menu
Element: No standalone meaning, has to be tied to an element, e.g. menu item, header title
Modifier: A flag on a block or element to change appearance or behavior, e.g. disabled, highlighted

Blocks are named as-is (.block)
Elements are their root plus two underscores (.block__elem)
Modifiers use two dashes (.block--mod, .block__elem--mod)

Try to not have to nest multiple elemtns/modifiers (e.g. .block_elem1_elem2 is bad)
*/

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: rgba(0, 0, 0, 0.87);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Buttons */

.standard-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #e5e5e5;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 4px;
}
.standard-button:hover {
	border-color: #646cff;
}
.standard-button:focus,
.standard-button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.standard-button--danger {
	background-color: rgb(255, 90, 90);
}

/* Hyperlinks */

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

/* Body */

body {
	margin: 0;
	display: inline;
	min-width: 320px;
	min-height: 100vh;
}

/* Header */

.header {
    background-color: #ffffff;
	height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	display: block;
    z-index: 4;
	margin: 0;
	max-width: 100%;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-image-slice: 1;
	border-image-source: 
		linear-gradient(
			to right, 
			rgb(158, 0, 0), 
			rgba(56, 38, 255,0)
		);
}

.header__img {
	position: relative;
	max-width: 300px;
	width: 40%;
	top: 50%;
	bottom: 50%;
	transform: translate(0%, -50%);
}

.header--right {
	position: relative;
	right: 0px;
	margin-left: auto;
	margin-right: 5px;
	float: right;
}

.header__return-button {
	width: 175px;
	max-width: 25%;
	overflow: hidden;
	display: inline-block;
	top: 50%;
	bottom: 50%;
	transform: translate(0%, -50%);
}

.footer {
    background-color: #ffffff;
	height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
	display: block;
    z-index: 4;
	margin: 0;
	max-width: 100%;
	border-top-width: 10px;
	border-top-style: solid;
	border-image-slice: 1;
	border-image-source: 
		linear-gradient(
			to left, 
			rgb(6, 14, 179), 
			rgba(56, 38, 255,0)
		);
}

.footer--middle {
	justify-content: center;
	display: flex;
}

.footer__button {
	max-width: 40%;
	overflow: hidden;
	display: inline-block;
	top: 50%;
	bottom: 50%;
	transform: translate(0%, 50%);
}

.contents {
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	top: 100px;
	bottom: 100px;
	height: calc(100dvh - 250px);
	display: block;
	place-items: center;
	text-align: center;
	max-width: 100%;
}

.subheader {
	font-size: 2em;
	font-weight: 900;
	font-style: italic;
	line-height: 1.1;
	margin-bottom: 1em;
}

.subheader--underline {
	border-bottom-width: 4px;
	border-bottom-style: double;
	padding-left: 5px;
	padding-right: 5px;
}

.subheader--underline--blue {
	border-bottom-color: rgb(6, 14, 179);
}

.subheader--underline--green {
	border-bottom-color: rgb(0, 156, 5);
}

.input {
	padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--fgColor-default, var(--color-fg-default));
    vertical-align: middle;
    background-color: var(--bgColor-default, var(--color-canvas-default));
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 6px;
    box-shadow: var(--shadow-inset, var(--color-primer-shadow-inset));
	margin-bottom: 7px;
}
.input--disable-spinner::-webkit-outer-spin-button,
.input--disable-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scoring-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-auto-flow: column;
	row-gap: 10px;
	column-gap: 10px;
	height: calc(100% - 200px);
}

.scoring-grid__button {
	width: 100%;
	max-width: 40vw;
	height: 100%;
	max-height: 100px;
	overflow: hidden;
	display: inline-block;
}

.card {
	padding: 2em;
}

#app {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}