/*
I will try to use BEM for our standard conventions - seems pretty popular and works well
Before making any edits, please read up on conventions here: https://getbem.com/introduction/
If you find something that doesn't follow the conventions, feel free to correct it

Reminder if you forgot after reading the above instructions:

Block: Standalone element, e.g. header, container, menu
Element: No standalone meaning, has to be tied to an element, e.g. menu item, header title
Modifier: A flag on a block or element to change appearance or behavior, e.g. disabled, highlighted

Blocks are named as-is (.block)
Elements are their root plus two underscores (.block__elem)
Modifiers use two dashes (.block--mod, .block__elem--mod)

Try to not have to nest multiple elemtns/modifiers (e.g. .block_elem1_elem2 is bad)
*/

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: rgba(0, 0, 0, 0.87);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Buttons */

.standard-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #e5e5e5;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 4px;
}
.standard-button:hover {
	border-color: #646cff;
}
.standard-button:focus,
.standard-button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.standard-button--danger {
	background-color: rgb(255, 90, 90);
}

/* Hyperlinks */

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

/* Body */

body {
	margin: 0;
	display: inline;
	min-width: 320px;
	min-height: 100vh;
}

/* Header */

.header {
    background-color: #ffffff;
	height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	display: block;
    z-index: 4;
	margin: 0;
	border-bottom: 10px solid rgb(158, 0, 0);
}

.header__img {
	max-width: 300px
}

.header--right {
	position: relative;
	right: 0px;
	margin-left: auto;
	margin-right: 5px;
	float: right;
}

.header__return-button {
	width: 175px;
	overflow: hidden;
	display: inline-block;
	top: 50%;
	bottom: 50%;
	transform: translate(0%, -50%);
}

.contents {
	margin-top: 100px;
	display: block;
	flex-direction: column;
	place-items: center;
	text-align: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 2rem;
}